@model IEnumerable<Logic.ApplicationUser>
@{
    ViewBag.Title = "AcceptFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Friends</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        

        <td>
            @Html.ActionLink("Acceptera vänförfrågan", "Index", new { id = item.Id })
        </td>
    </tr>
    }
    
</table>