@model Projekt.Models.ViewProfilesModel

@{
    ViewBag.Title = "About";

}


<h1>
    @Html.DisplayFor(model => model.Alias)

    <img src="@Url.Action("UserPhotoOthers", "Home", new { id=Model.ProfileID})" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />



</h1>
<div class="col-sm-3">
    <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name</strong></span>@Html.DisplayFor(model => model.Alias)</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age</strong></span> Age</li>
        <li class="list-group-item text-right">
            <span class="pull-left"><strong class="">Real name</strong></span> Joseph
            Doe
        </li>
        <li class="list-group-item text-right">
            <span class="pull-left"><strong class="">Role: </strong></span> Pet Sitter

        </li>
    </ul>
</div>


<div class="col-sm-9" style="" contenteditable="false">
    <div class="panel panel-default">
        <div class="panel-heading">About me</div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.TextAbout)

        </div>
    </div>
</div>

@Html.ActionLink("Lägg till " + Model.Alias + " som vän", "AddFriends", "User", new { id = Model.ProfileID},null )