@model Projekt.Models.ViewProfilesModel

@{
    ViewBag.Title = "About";
    var Sender = ViewBag.Sender;

    var Reciever = ViewBag.profilID;
    bool alreadyfriends = ViewBag.AlreadyFriends;


}

<script>
    //Skickar JSON-data till API-Controllern för att lägga till en post.
    function addPost() {
        var Text = $('#Text').val();
        var Sender = '@Sender';
        var Reciever = '@Reciever';
        var newPost = {FromID: Sender, ToID: Reciever, Text: Text};
            $.ajax({
                type: 'POST',
                url: '@Url.Action("addPost","Posts", new { httproute = "" })',
                data: JSON.stringify(newPost),
                contentType:'application/json',
                datatype: 'json',
                success: function (data) {
                    $('#Text').val('');
                    location.reload();
                }
            })
        };
</script>

<h1>
    @Html.DisplayFor(model => model.Alias)

    <img src="@Url.Action("UserPhotoOthers", "Home", new { id=Model.ProfileID})" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />



</h1>
<div class="col-sm-3">
    <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name</strong></span>@Html.DisplayFor(model => model.Alias)</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Age</strong></span> Age</li>
        <li class="list-group-item text-right">
            <span class="pull-left"><strong class="">Real name</strong></span> Joseph
            Doe
        </li>
        <li class="list-group-item text-right">
            <span class="pull-left"><strong class="">Role: </strong></span> Pet Sitter

        </li>
        
    </ul>

    <span class="pull-left"><strong class="">
    @if (!alreadyfriends)
    {
        @Html.ActionLink("Lägg till " + Model.Alias + " som vän", "AddFriends", "User", new { id = Model.ProfileID }, null)
    }
</strong></span>
</div>


<div class="col-sm-9" style="" contenteditable="false">
    <div class="panel panel-default">
        <div class="panel-heading">About me</div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.TextAbout)

        </div>
    </div>
</div>


<div class="col-sm-9" style="" contenteditable="false">
    <div class="panel panel-default">
        <div class="panel-heading">Send Post</div>
        <div class="panel-body">
            <textarea id="Text" rows="3" cols="500"></textarea><br />
            <button type="button" class="btn btn-default" onclick="addPost()">Send Post</button>
           

        </div>
    </div>
</div>


<div class="col-sm-9" style="" contenteditable="false">
    <div class="panel panel-default">
        <div class="panel-heading">My Posts</div>
        <div class="panel-body">

            <ul>
                @foreach (var post in ViewBag.list)
        {
            <li>
                <B>@post[0]</B>
                <br />
                @post[1]
            </li>
}
            </ul>
        </div>
    </div>
</div>





